@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}


.geist-mono {
  font-family: var(--font-geist-mono);
}

.geist-sans {
  font-family: var(--font-geist-sans);
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}


a[href="/docs/components/bento-grid"] {
  position: relative;
  padding-right: 2.5rem;
}

a[href="/docs/components/bento-grid"]::after {
  content: "New";
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(59, 180, 75, 0.2);
  color: #3BB44B;
  padding: 0.05rem 0.2rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}



a[href="/docs/components/hero-geometric"] {
  position: relative;
  padding-right: 2.5rem;
}

a[href="/docs/components/hero-geometric"]::after {
  content: "New";
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(59, 180, 75, 0.2);
  color: #3BB44B;
  padding: 0.05rem 0.2rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

a[href="/docs/components/action-search-bar"] {
  position: relative;
  padding-right: 2.5rem;
}

a[href="/docs/components/action-search-bar"]::after {
  content: "New";
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(59, 180, 75, 0.2);
  color: #3BB44B;
  padding: 0.05rem 0.2rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


/* Blocks, update only if id is different than browse-blocks-button*/
a[href="/docs/blocks/ai-card-generation"]:not(#browse-blocks-button) {
  position: relative;
  padding-right: 2.5rem;
}

a[href="/docs/blocks/ai-card-generation"]:not(#browse-blocks-button)::after {
  content: "Beta";
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(128, 0, 128, 0.2);
  color: #cf40cf;
  padding: 0.05rem 0.2rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}